# Ignore Maven wrapper files
.mvn/
mvnw
mvnw.cmd

# Ignore build directories
target/

# Ensure that the Maven wrapper jar is not ignored
!.mvn/wrapper/maven-wrapper.jar

# Ignore IDE-specific files (Eclipse, IntelliJ, NetBeans, VS Code)
### STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

### NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code
.vscode/

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Additional ignored files
.gitignore
.gitattributes
